#content
  %ul#table1
    %li#no_1.ui-state-default No.1
    %li#no_2.ui-state-default No.2
    %li#no_3.ui-state-default No.3
    %li#no_4.ui-state-default No.4
    %li#no_5.ui-state-default No.5
  %ul#table2
    %li#no_6.ui-state-default No.6
    %li#no_7.ui-state-default No.7
